usage_analyzer*/build
usage_macro_ref_analyzer*/build
include_finder*/build
#!include_finder/build/analyzer
llvm-project/
llvm-custom/
c_parser_api/__pycache__/
*.egg-info/
__pycache__/
*.pyc

*golden_flow.txt
*_trace.log
*.so
*.so.*
